{{!-- Vampire Sheet Header --}}
<header class="actor-header" {{#if headerbg}} style="background: url({{headerbg}}) center;"{{/if}}>
    <div class="header-fields">
        <div class="header-fields-left">
            {{!-- Health Tracker --}}
            {{> "systems/aztharion/display/shared/actors/parts/health.hbs"}}
            {{!-- Willpower Tracker --}}
            {{> "systems/aztharion/display/shared/actors/parts/willpower.hbs"}}
        </div>
    </div>
    <!-- Middle of the header -->
    {{> "systems/aztharion/display/shared/actors/parts/header-profile.hbs"}}
    <div class="header-fields">
        <div class="header-fields-right">
            <div class="flexcol">
                <div class="field-section flexrow">
                    {{!-- Removed Clan Selector --}}
                    {{!-- Removed Frenzy --}}
                </div>
                <div class="flexcol field-section">
                    <label class="resource-label field-header">{{localize "AZTHARION.VTM.Hunger"}}</label>
                    <div class="flexrow">
                        {{> "systems/aztharion/display/vtm/actors/parts/hunger.hbs"}}
                        {{> "systems/aztharion/display/vtm/actors/parts/rouse.hbs"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
