<form autocomplete="off" class="aztharion-config-form storyteller-menu">
  {{!-- Cell Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <div class="item" data-tab="modifications">{{localize 'AZTHARION.Settings.Modifications'}}</div>
    <div class="item" data-tab="custom">{{localize 'AZTHARION.Settings.Custom'}}</div>
  </nav>

  {{!-- Menu Body --}}
  <section class="sheet-body">
    {{!-- Modifications Tab --}}
    {{> "systems/aztharion/display/ui/parts/storyteller-menu/modification-menu.hbs"}}

    {{!-- Custom Tab --}}
    {{> "systems/aztharion/display/ui/parts/storyteller-menu/custom-menu.hbs"}}

    {{!-- Save button --}}
    <hr>
    <div>
      <button type="button" class="save-modifications">{{localize 'AZTHARION.Settings.SaveChanges'}}</button>
    </div>
  </section>
</form>
