<div class="flex-group-center flexrow">
    <div class="field-header flexrow">
        {{localize 'AZTHARION.ItemsList.DataItemId'}}
        <a data-action="formatDataId" title="{{localize 'AZTHARION.ItemsList.GenerateDataItemID'}}">
            <i class="fa-solid fa-arrows-rotate"></i>
        </a>
    </div>
    <div>
        <input type="text" value="{{dataItemId}}" disabled/>
    </div>
</div>
