<div class="flexcol detail-row">
    <label class="resource-label field-header">{{localize "AZTHARION.HTR.CreedFields"}}</label>
    <div class="resource resource-content">
        <span class="data-item">
            {{creed.system.desperationFields}}
        </span>
    </div>
</div>
