<div class="flexcol detail-row">
    <label class="resource-label field-header">{{localize "AZTHARION.WTA.Favor"}}</label>
    <div class="resource resource-content">
        <span class="data-item">
            {{{enrichedFavor}}}
        </span>
    </div>
</div>
