<div class="flexcol detail-row">
    <label class="resource-label field-header">{{localize "AZTHARION.WTA.PatronSpirit"}}</label>
    <div class="resource resource-content">
        <span class="data-item">
            {{tribe.system.patronSpirit.name}}
        </span>
    </div>
</div>
