<button type="button" class="rollable rage-button" data-action="roll" type="button" name="rage" data-disable-basic-dice="true" data-use-absolute-value="true" 
    data-absolute-value="1" data-decrease-rage="true" data-label="{{localize 'AZTHARION.WTA.RageDice'}}" title="{{localize "AZTHARION.WTA.RageDice"}}">
    <span class="aztharion-symbol">
        j
    </span>
</button>
